@import './colors';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    position:relative;
    .bar-container{
        position: absolute;
        top: 80px;
        height: 50%;
        width: 100%;
        background-color: $BgMain;
        z-index: 123;
        display: flex;
        justify-content: center;
        padding: 40px 24px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 20px;
        font-family: 'Karla';
        color: $White;
        text-align: center;
letter-spacing: 1.36364px;
display: none;
p{
    margin-bottom: 24px;
    cursor: pointer;
}
.plans{
    width: 327px;
    height: 56px;
    text-transform: uppercase;
    font-size: 20px;
    color: $White;
    border: 1.5px solid $White;
    background: none;
    cursor: pointer;
}
    }
    .container{      
        position: relative;
        max-width: 1440px;
        .header{
           max-width: 100vw;
            display: flex;
            justify-content: space-between;
            padding: 24px;
            .logo{
                margin: 7px 0;
            }
            .bar-menu{
                cursor: pointer;
            }
            .close-menu{
                position: absolute;
                right: 24px;
                display: none;
                z-index: 2342;
                cursor: pointer;
            }
        }
        .hero-box{
            display: flex;
            justify-content: center;
        }
        .info-box{
            background-color: $BgBox;
            display: flex;
            justify-content: center;
            padding: 0 24px;
            ::before{
                content: '';
                position: absolute;
                width: 485px;
                height: 453px;
                left: -323px;
                top: 246px;
                background-image: url('/images/bg-pattern-intro-left-mobile.svg');
                background-repeat: no-repeat;
                background-position: bottom right;
            }
            .text-box{
                margin: 93px auto;
                color: $White;
                display: flex;
                flex-direction: column;
                align-items: center;
                .title{
                    font-size: 48px;
                    line-height: 48px;
                    font-family: 'DM Serif Display';
                    text-align: center;
                    margin-bottom: 16px;
                    z-index: 1;
                }
                .text{
                    font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                    font-family: 'Karla';
                    text-align: center;
                    margin-bottom: 32px;
                }
                .action{
                   width: 146px;
                   height: 40px;
                   border: 1.5px solid $White;
                   background: none;
                   color: $White;
                   font-size: 13px;
                   font-family: 'Karla';
                   cursor: pointer;
                }
            }
        }
        .title-box{
            position: relative;
            margin: 181px auto 80px;
            width: 327px;
            height: 48px;
            
            h1{
                font-family: 'DM Serif Display';
                font-weight: 400;
                font-size: 48px;
                line-height: 48px;             
            }
            ::before{
                
                position: absolute;
                top: -40px;
                left: 50%;  
                transform: translateX(-50%);             
                content: '';
                width: 150px;
                height: 3px;
                background-color: $lineColor;
            }
        }
        .services-box{
            display: flex;
            flex-direction: column;  
                    height: 862px;
                    justify-content: space-between;
            .box{
                margin: 0 auto;
                width: 327px;
                height: 250px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                img{
                    width: 86px;
                    margin-bottom: 32px;
                }
                .snappy{
                    font-family: 'DM Serif Display';
                    font-size: 28px;
                    color: $BgMain;
                    margin-bottom: 16px;
                }
                .text{
                    font-size: 16px;
                    line-height: 26px;
                    font-family: 'Karla';
                    color: $text;
                }
            }
        }
        .how-box{
            position: relative;
            margin: 140px auto 140px;
            width: 327px;
            height: 344px;
            background-color: $BgBox;
            padding: 72px 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .title{
                font-family: 'DM Serif Display';
                font-size: 40px;
                line-height: 40px;
                color: $White;
                text-align: center;              
            }
            .how{
                font-family: 'Karla';
                height: 40px;
                width: 160px;
                border: 1.5px solid $White;
                background:none;
                text-transform: uppercase;
                color: $White;
                font-weight: 700;
                font-size: 13px;
                line-height: 15px;
                cursor: pointer;
            }
        }
        .footer-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $bgDown;
            .insure{
                height: 18px;
                width: 112px;
                margin-top: 88px;
                margin-bottom: 32px;
            }
            .social{
                width: 144px;
                height: 24px;
                display: flex;
                justify-content:space-between;
                margin-bottom: 40px;
                img{
                    width: 24px;
                }
            }
            .line{
                height: 1px;
                width: 327px;
                background: #DADADA;
                margin-bottom: 40px;
            }
        }
        .company-box{
            text-align: center;
            .title, .next{
                font-family: 'Karla';
                font-weight: 700;
                font-size: 13px;
                line-height: 15px;
                text-align: center;
                letter-spacing: 1.5px;
                color: $text;
                margin-bottom: 36px;
            }
            .link{
                color: #2D2641;
                font-weight: 700;
                font-size: 13px;
                line-height: 15px;
                font-family: 'Karla';
                margin-bottom: 16px;
                cursor: pointer;
                &:hover{
                    color: rgb(73, 73, 237);
                }
            }
            .next{
                margin-top: 40px;
                
            }
        }
    }
}